* {
  box-sizing: border-box;
}

@font-face {
  font-family: ClearSans;
  src: url(assets/fonts/ClearSans-Regular.ttf);
}

@font-face {
  font-family: ClearSans;
  src: url(assets/fonts/ClearSans-Bold.ttf);
  font-weight: bold;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0;

  list-style: none
}

.navigation-link {
  padding: 0 20px;
  line-height: 25px;

  font-family: ClearSans, sans-serif;
  text-decoration: none;
  transition: color 0.3s;

  color: #5f7bcd;
}

.navigation-link:hover {
  color: burlywood;
}

.main {
  margin: 0;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  width: 100%;
}

h1 {
  margin: 0 auto;

  font-family: ClearSans, sans-serif;
  font-size: 40px;

  color: #5f7bcd;
}

.section {
  width: 50%;

  font-family: ClearSans, sans-serif;
  font-size: 16px;
}

.section-title {
  font-family: ClearSans, sans-serif;
  font-size: 18px;
  text-transform: uppercase;

  color: #5f7bcd;
}

.section-link {
  padding: 0 5px;

  font-family: ClearSans, sans-serif;
  text-decoration: none;

  color: #5f7bcd;

  transition: color 0.3s;
}

.section-link:hover {
  color: burlywood;
}

.footer {
  margin: 0;
  padding: 0 20px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-text {

  font-family: ClearSans, sans-serif;
  font-size: 16px;

  color: #5f7bcd;
}

.footer-link {
  font-family: ClearSans, sans-serif;
  font-size: 16px;
  text-decoration: none;

  color: #5f7bcd;

  transition: color 0.3s;
}

.footer-link:hover {
  color: burlywood;
}
